.entire_page {

}

.top_bar_decoration {
  height:10px;
  background-color:rgb(1, 54, 139); /* change color to blue */
  margin-top:0;
}

/* Header Container */
.grid-container1-register {
  width:70%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap:1vw;
  column-gap:1vw;
}

.tmulogo_register {
  height: 4vw; /* Set height for the logo */
  width:calc((100% - 2 * 1vw) / 2);
}

.tmulogo_register img {
  width: auto; /* Ensure the logo image scales properly */
  height: 100%; /* Make the logo fill the container's height */
}
  
/* for register */
.sign_in2 {
  margin-right: 1vw; /* Add spacing between login link2s */
  font-size:1vw;
  width:calc((100% - 2 * 1vw) / 2);
  text-align: right;
  text-decoration: none;
}

.link2:hover {
  text-decoration: underline; /* Add underline on hover for link2s */
}

/* register form */

.register_form {
  width:30%;
  min-height: 1vh;
  margin:auto;

  display: flex;
  flex-wrap: wrap;
  row-gap: 1vw;
  column-gap: 1vw;
  border:none;
}

#register_create_account {
  font-size:1.5vw;
  text-align:center;
  margin:auto;
  margin-bottom:1vw;
  width:100%;
}


#register_first_name, #register_last_name {
  padding-left: 0.5vw;
  padding-top: 0.1vw;
  padding-bottom:0.1vw;
  padding-right: 0;
  width: 45%;
  height:2vw;
  margin:0;
  font-size:1vw;
}

#register_password1, #register_password2, #register_email {
  padding-left: 0.5vw;
  padding-top:0.1vw;
  padding-bottom:0.1vw;
  width:100%;
  height:2vw;
  font-size:1vw;
}

#register_submit {
  width:30%;
  margin:auto;
  padding:0;
  padding-top:0.4vw;
  padding-bottom:0.4vw;
  font-size:1vw;
}



/* in container1 at the top, for signin */
.register_acc {
  margin-right: 1vw; /* Add spacing between login link2s */
  font-size:1vw;
  width:calc((100% - 2 * 1vw) / 2);
  text-align: right;
  text-decoration: none;
}


/* signin form */

.signin_form {
  width:25%;
  min-height: 1vh;
  margin:auto;

  display: flex;
  flex-wrap: wrap;
  row-gap: 1vw;
  column-gap: 1vw;
  border:none;
}

#signin_title {
  font-size:1.5vw;
  text-align:center;
  margin:auto;
  margin-bottom:1vw;
  width:100%;
}

#signin_email, #signin_password {
  padding-left: 0.5vw;
  padding-top:0.1vw;
  padding-bottom:0.1vw;
  width:100%;
  height:2vw;
  font-size:1vw;
}

#signin_submit {
  width:30%;
  margin:auto;
  padding:0;
  padding-top:0.4vw;
  padding-bottom:0.4vw;
  font-size:1vw;
}

@media (max-width:900px) {
  #register_first_name, #register_last_name {
    padding-left: 0.5vw;
    padding-top: 1vw;
    padding-bottom:1vw;
    padding-right: 0;
    width: 46%;
    height:2vw;
    margin:0;
    font-size:2.5vw;
  }

  .register_form {
    row-gap: 2vw;
    width:50%;

  }

  #register_create_account {
    font-size:2.5vw;
  }

  #register_password1, #register_password2, #register_email {
    padding-left: 0.5vw;
    padding-top:1vw;
    padding-bottom:1vw;
    width:100%;
    height:2vw;
    font-size:2.5vw;
  }

  #register_submit {
    width:50%;
    margin:auto;
    padding:0;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:2.5vw;
    margin-top:2vw;
  }

  /* signin form */

  .signin_form {
    width:50%;
    min-height: 1vh;
    margin:auto;

    display: flex;
    flex-wrap: wrap;
    row-gap: 2vw;
    column-gap: 1vw;
    border:none;
  }

  #signin_title {
    font-size:2.5vw;
    text-align:center;
    margin:auto;
    margin-bottom:1vw;
    width:100%;
  }

  #signin_email, #signin_password {
    padding-left: 0.5vw;
    padding-top:1vw;
    padding-bottom:1vw;
    width:100%;
    height:2vw;
    font-size:2.5vw;
  }

  #signin_submit {
    width:30%;
    margin:auto;
    padding:0;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:2.5vw;
  }

}

@media (max-width:500px) {
  /* for register */
  .sign_in2 {
    margin-right: 1vw; /* Add spacing between login link2s */
    font-size:3.4vw;
    width:calc((100% - 2 * 1vw) / 2);
    text-align: right;
    text-decoration: none;
  }

  /* register form */

  .register_form {
    width:70%;
    min-height: 1vh;
    margin:auto;

    display: flex;
    flex-wrap: wrap;
    row-gap: 4vw;
    column-gap: 1vw;
    border:none;
  }

  #register_create_account {
    font-size:4vw;
    text-align:center;
    margin:auto;
    margin-bottom:1vw;
    width:100%;
  }


  #register_first_name, #register_last_name {
    padding-left: 0.5vw;
    padding-top: 1vw;
    padding-bottom:1vw;
    padding-right: 0;
    width: 47%;
    height:4vw;
    margin:0;
    font-size:3.4vw;
  }

  #register_password1, #register_password2, #register_email {
    padding-left: 0.5vw;
    padding-top:1vw;
    padding-bottom:1vw;
    width:100%;
    height:4vw;
    font-size:3.4vw;
  }

  #register_submit {
    width:50%;
    margin:auto;
    padding:0;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:4vw;
    margin-top:2vw;
  }


  /* signin form */

  .signin_form {
    width:65%;
    min-height: 1vh;
    margin:auto;

    display: flex;
    flex-wrap: wrap;
    row-gap: 4vw;
    column-gap: 1vw;
    border:none;
  }

  #signin_title {
    font-size:4vw;
    text-align:center;
    margin:auto;
    margin-bottom:1vw;
    width:100%;
  }

  #signin_email, #signin_password {
    padding-left: 0.5vw;
    padding-top:1vw;
    padding-bottom:1vw;
    width:100%;
    height:2vw;
    font-size:3.5vw;
  }

  #signin_submit {
    width:30%;
    margin:auto;
    padding:0;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:4vw;
  }

  /* in container1 at the top, for signin */
  .register_acc {
    font-size:3.4vw;
    width:calc((100% - 2 * 1vw) / 2);
    text-align: right;
    text-decoration: none;
  }

}


@media (max-width:362px) {
  #register_first_name, #register_last_name {
    width: 46%;
  }
}