.flat-ad-section {
    width:100%;
    margin: auto;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.flat-ad-container {
    padding: 1vw;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
}

.flat-ad-section-title {
    background-color: white;
    padding: 1vw;
    font-size:1.8vw;
}

.flat-ad-error-text {
    background-color: white;
    padding: 1vw;
    font-size:1.5vw;
    color: red;
    font-weight: bold;
}

.flat-ad-data-length {
    background-color: white;
    padding-left: 1vw;
    font-size: 1vw;
}

.flat-ad-title-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
    margin-top:1vw;
}

.search-results-page .flat-ad-container {
    width:75%;
    margin:auto;
}


@media (max-width:500px) {

    .flat-ad-section {
        margin-top: 4vw;
    }
    
    .flat-ad-container {
        padding: 4vw;
        border-radius: 2vw;
    }
    
    .flat-ad-section-title {
        background-color: white;
        padding: 2vw;
        font-size:4vw;
    }
    
    .flat-ad-title-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;
    }

    .search-results-page .flat-ad-container {
        width:90%;
        margin:auto;
    }
    
    .flat-ad-data-length {
        font-size:2.5vw;
        margin-left:1vw;
    }

    .flat-ad-error-text {



        font-size:2.5vw;
        margin-left:1vw;
    }

}

