.ad-section {
    width:75%;
    margin: auto;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.ad-container {
    padding: 1vw;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
}

.ad-section-title {
    background-color: white;
    padding: 0.5vw;
    font-size:1.4vw;
}

.ad-title-container {
    background-color: white;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.swipe-tag {
    background-color: white;
}

@media (max-width:500px) {
    .ad-section {
        width:90%;
        margin-top: 2vw;
    }
    
    .ad-container {
        padding: 2vw;
        border-radius: 1vw;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
    }
    
    .ad-section-title {
        background-color: white;
        padding: 0vw;
        font-size:3.5vw;
    }
    
    .ad-title-container {
        background-color: white;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
}