.signin-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top:2vw;
}

.signin-container {
    width: 35%;
    margin: 0vw auto;
    padding: 2.5vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.post-ad-container {
    width: 75%;
    margin: 2vw auto;
    padding: 2.4vw;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.signin-title {
    text-align: center;
    color: #333;
    font-size: 1.8vw;
    margin-bottom: 2vw;
    background-color: white;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
    background-color: white;
}

.signin-input {
    padding: 1vw;
    border-radius: 1vw;
    border: 1px solid #ddd;
    font-size: 1.2vw;
    background-color: white;
}

.title-input {
    padding: 1vw;
    border-radius: 1vw;
    border: 1px solid #ddd;
    font-size: 1.2vw;
    background-color: white;
    width:100%;
}

.description-input {
    padding: 1vw;
    border-radius: 1vw;
    border: 1px solid #ddd;
    font-size: 1.2vw;
    background-color: white;
}

.signin-button {
    padding: 1.2vw;
    border-radius: 0.7vw;
    border: none;
    background-color: #004c9b;
    color: white;
    cursor: pointer;
    font-size: 1.4vw;
}

.signin-text {
    text-align: center;
    margin-top: 1.8vw;
    font-size: 1.2vw;
    background-color: white;
}

a {
    background-color: white;
}

.signin-input label {
    display: block;
    margin-bottom:1vw;
}

.signin-input input[type="radio"] {
    display:none;
}

.radio_label0 {
    display:inline-block;
    cursor:pointer;

    margin-left:0;
    margin-right:0.7vw;

    height:1vw;
    width:1vw;

    border: 0.3vw solid rgb(200,200,200);
    border-radius: 0.5vw;
    background-color:white;
}

input[type="radio"]:checked + .radio_label0 {
    border-color: blue;
}

.option_text, label {
    background-color: white;
}

.signin-input option {
    background-color: white;
    color: white;
}


.post-ad-page .header-button {
    display:none;
}

.post-ad-page .header-button-profile {
    display:inline;
}

.signin-page .header-button-group {
    display:none;
}

.signin-page .header-section {
    margin-bottom:0;
}


@media (max-width:500px) {
    .signin-body {
        margin-top:5vw;
    }
    
    .signin-container {
        width: 70%;
        margin: 0vw auto;
        padding: 4vw;
    }
    
    .post-ad-container {
        width: 90%;
        margin: 4vw auto;
        padding: 5vw;
        border-radius: 0.5vw;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
    
    .signin-title {
        font-size: 4vw;
        margin-bottom: 4vw;
    }
    
    .signin-form {
        gap: 3vw;
    }
    
    .signin-input {
        padding: 2vw;
        font-size: 3vw;
    }
    
    
    .signin-button {
        padding: 3vw;
        font-size: 4vw;
    }
    
    .signin-text {
        text-align: center;
        margin-top: 4vw;
        font-size: 3vw;
        background-color: white;
    }
    
    a {
        background-color: white;
    }
    
    .signin-input label {
        display: block;
        margin-bottom:1vw;
    }
    
    .signin-input input[type="radio"] {
        display:none;
    }
    
    .radio_label0 {
        display:inline-block;
        cursor:pointer;
    
        margin-left:0;
        margin-right:2vw;
    
        height:2vw;
        width:2vw;
    
        border: 0.6vw solid rgb(200,200,200);
        border-radius: 1vw;
        background-color:white;
    }
    
}
