.signin-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post-ad-body {
    margin-top: 4rem;
}

.signin-container {
    width: 500px; /* Increased width */
    margin: 0 auto;
    padding: 40px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.post-ad-container {
    width: 80%; /* Increased width */
    margin: 0 auto;
    padding: 40px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.signin-title {
    text-align: center;
    color: #333;
    font-size: 2em; /* Increased font size */
    margin-bottom: 2rem;
    background-color: white;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increased gap */
    background-color: white;
}

.signin-input {
    padding: 15px; /* Increased padding */
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1.2em; /* Increased font size */
    background-color: white;
}

.signin-button {
    padding: 15px; /* Increased padding */
    border-radius: 4px;
    border: none;
    background-color: #004c9b;
    color: white;
    cursor: pointer;
    font-size: 1.2em; /* Increased font size */
}

.signin-text {
    text-align: center;
    margin-top: 20px; /* Increased margin-top */
    font-size: 1.2em; /* Increased font size */
    background-color: white;
}

a {
    background-color: white;
}

.signin-input label {
    display: block;
    margin-bottom: 10px;
    background-color: white;
}

.signin-input label input[type="radio"] {
    margin-right: 10px;
}

.signin-input option {
    background-color: white;
    color: white;
}


.post-ad-page .header-button {
    display:none;
}

.post-ad-page .header-button-profile {
    display:inline;
}