.ad-card {
    margin-left:0;
    margin-right:2vw;
    margin-top:1vw;

    max-width: 20vw;
    min-width: 15vw;
    max-height: 30vw;
    min-height: 30vw;

    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    padding: 0.3vw;

    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ad-image-link {
    max-width:100%;
    height:15vw;
    margin:0;
    margin-top:1vw;
    border:solid;
}

.ad-image {
    width: 100%;
    max-height:100%;
}

.ad-title {
    font-size: 1.2vw;
    font-weight:normal;
    margin-top:1vw;
    background-color: white;
    width:100%;
}

.ad-price,
.ad-location {
    font-size: 1.2vw;
    margin: 0.4vw 0;
    background-color: white;
    width:100%;
}


@media (max-width:500px) {
    .ad-card {
        width: 25vw;
        padding: 2vw;
        margin:auto;
        margin-top:4vw;
    }
    
    .ad-title {
        font-size: 3vw;
        margin-bottom:2vw;
        margin-top:4vw;
    }
    
    .ad-price,
    .ad-location {
        font-size: 2.8vw;
        margin: 1vw 0;
    }
}