/* Items_wanted page */

/* Container for the main section of the page */
.items_wanted_container {
    width:70%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    column-gap:2vw;
}



/* The title of the page - "Items Wanted" */
.wanted_items_title {
    width:100%;
    margin-bottom:2vw;
}

/* Each individual item box */
.item_wanted {
    width: calc((100% - 10vw) / 5);
}




/* Items_sale page */

/* Container for the main section of the page */
.items_sale_container {
    width:70%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    column-gap:2vw;
}

/* The title of the page - "Items On Sale" */
.onsale_items_title {
    width:100%;
    margin-bottom:2vw;
}

/* Each individual item box */
.item_sale {
    width: calc((100% - 10vw) / 5);
}




/* Services page */

/* Container for the main section of the page */
.services_container {
    width:70%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    column-gap:2vw;
}

/* The title of the page - "Services Available" */
.services_available_title {
    width:100%;
    margin-bottom:2vw;
}

/* Each individual service box */
.service {
    width: calc((100% - 10vw) / 5);
}




/* Results page */

/* Container for the main section of the page */
.results_container {
    width:70%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    column-gap:1vw;
}

/* The title of the page - "Search Results" */
.results_title {
    width:100%;
    margin-bottom:2vw;
}

/* Each individual result box */
.results_item {
    width: calc((100% - 5.1 * 1vw) / 5);
}

@media (max-width:500px) {
    .item_wanted {
        width: calc((100% - 10 * 1vw) / 3);
    }

    .item_sale {
        width: calc((100% - 10 * 1vw) / 3);
    }

    .service {
        width: calc((100% - 10 * 1vw) / 3);
    }

    .results_item {
        width: calc((100% - 3 * 1vw) / 3);
    }
    

    /* Container for the main section of the page */
    .items_wanted_container {
        width:90%;
        min-height: 5vh;
        margin:auto;
    
        display: flex;
        flex-wrap: wrap;
        row-gap: 5vw;
        column-gap: 5vw;
    }

    /* The title of the page - "Items Wanted" */
    .wanted_items_title {
        width:100%;
        text-align:left;
        border:none;
        font-size:4vw;
        font-weight:bold;
    }


    /* Container for the main section of the page */
    .items_sale_container {
        width:90%;
        min-height: 5vh;
        margin:auto;
    
        display: flex;
        flex-wrap: wrap;
        row-gap: 5vw;
        column-gap: 5vw;
    }

    /* The title of the page - "Items On Sale" */
    .onsale_items_title {
        flex: 0 0 calc(100%);
        text-align:left;
        height:100%;
        border:none;
        font-size:4vw;
        font-weight:bold;
    }

    /* Container for the main section of the page */
    .services_container {
        width:90%;
        min-height: 5vh;
        margin:auto;
    
        display: flex;
        flex-wrap: wrap;
        row-gap: 5vw;
        column-gap: 5vw;
    }

    /* The title of the page - "Services Available" */
    .services_available_title {
        flex: 0 0 calc(100%);
        text-align:left;
        height:100%;
        border:none;
        font-size:4vw;
        font-weight:bold;
    }
    
}